/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

body {
    font-family: Merriweather, sans-serif;
}

/* Header */
header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.header-hero {
    background-image: url(../images/img1.jpg);
}

.header-content {
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 15px;
}

/* Navigation */
ul {
    list-style: none;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    padding: 20px;
    background-color: RGB(120, 81, 169);
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 30px;
}

/* Style the navbar links */
.menu li a {
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: RGB(120, 81, 169); /* Set the background color */
    transition: background-color 0.3s ease-in-out;
}

/* Change link color on hover */
.menu li a:hover {
    background-color: #9756b3;
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About Us */
.about-title {
    text-align: center;
    font-size: 4vmin;
    color: RGB(120, 81, 169);
    text-transform: uppercase;
    margin-top: 30px;
}

/* About Us Section */
.about-section {
    text-align: center;
    margin-top: 50px;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
}

/* Services */
.services-title {
    text-align: center;
    font-size: 4vmin;
    color: RGB(120, 81, 169);
    text-transform: uppercase;
    margin-top: 50px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.service {
    width: 300px;
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(120, 81, 169, 0.2);
    text-align: center;
}

.service img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.service h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: RGB(120, 81, 169);
    text-transform: uppercase;
}

.service p {
    font-size: 14px;
}

/* Contact Page */
.contact-header {
    background-color: whitesmoke;
    height: auto;
    padding-top: 80px;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

.form-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: whitesmoke;
    border-radius: 25px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-area {
    flex: 1;
    min-width: 18em;
    margin-right: 2em;
}

.details-area input {
    width: 100%;
    background: transparent;
    border-radius: 40px;
    border: 2px solid #ccc;
    padding: 1em;
    font-size: 16px;
    color: #555;
}

.details-area textarea {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 1em;
    font-size: 16px;
    color: #555;
    resize: none;
}

.details-area button {
    background: RGB(120, 81, 169);
    border: 0;
    padding: 15px 50px;
    border-radius: 40px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.details-area button:hover {
    background: #9756b3;
}

label {
    text-transform: uppercase;
    line-height: 40px;
    font-size: 16px;
    color: RGB(120, 81, 169);
}

.thank-you-message {
    display: none; /* Initially hidden */
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #754c8d; /* Border color */
}

/* Style for the thank you message content */
.thank-you-message p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

/* Style for the thank you message section when targeted */
.thank-you-message:target {
    display: block; /* Display the thank you message when targeted */
}

/* Client-Cam */
.client-header {
    background-color: whitesmoke;
    height: auto;
    padding-top: 80px;
}

.client-content {
    color: RGB(120, 81, 169);
    text-align: center;
    padding: 30px 0;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 50px;
}

/* Footer */
footer {
    height: 150px;
    text-align: center;
    background-color: #f2f2f2;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: RGB(120, 81, 169);
}

/* Mobile */
@media only screen and (max-width: 850px) {
    /* Header */
    .header-content h1 {
        font-size: 10vmin; /* Adjusted to prevent overlapping */
        margin-top: 40px; /* Adjusted to prevent overlapping */
    }

    body {
        overflow-x: hidden;
    }

    .header-content h2 {
        font-size: 6vmin; /* Adjusted to prevent overlapping */
        margin-bottom: 10px; /* Adjusted to prevent overlapping */
    }

    /* Navigation */
    .navbar {
        flex-direction: column;
        align-items: center;
        background-color: RGB(120, 81, 169);
        padding: 0;
    }

    * {
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu li a {
        font-size: 5vmin;
        padding: 5px 15px;
        border-radius: 10px;
        background-color: transparent;
    }

    /* Change link color on hover */
    .menu li a:hover {
        background-color: #9756b3;
    }

    /* About Us Section */
    .about-text {
        font-size: 4vmin;
        line-height: 1.5;
    }

    /* Services Section */
    .services {
        flex-direction: column;
    }

    .service {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(120, 81, 169, 0.2);
    }

    /* Contact Page */
    .form-area {
        margin-top: 20px; /* Reduce the top margin to fit the form within the viewport */
        padding: 10px; /* Adjust the padding for better spacing on small screens */
    }

    .details-area input,
    .details-area textarea {
        font-size: 4vmin; /* Adjust the font size for smaller screens */
    }

    .details-area button {
        padding: 8px 20px; /* Adjust the button padding */
        font-size: 4vmin; /* Adjust the button font size */
    }
    

    label {
        line-height: 30px;
    }

    /* Client-Cam */
    .photos {
        padding: 10px;
        margin-top: 135px;
        overflow-x: hidden; 
    }

    /* Footer */
    .social-networks i {
        font-size: 6vmin;
        margin: 5px;
        padding: 10px;
    }
}
